<td>
  
  <% raw_data = data.send(label) %>
  
  <% if label == 'hp_ave' or label == 'atk_ave' or label == 'cost_ave' or label == 'sp_ave' %>
    <% str = "%.15g"%(raw_data.to_f.round(1) / 10.0) %>
  <% elsif label == 'sp_ratio_ave' or label == 'sp_atk_ave' %>
    <% str = "%.15g"%((raw_data.to_f / 100.0).round(1)) %>
  <% elsif label == 'ssr_count' or 'ur_count' %>
    <% str = raw_data %>
  <% else %>
    <% str = Ssr.status_str(raw_data) %>
  <% end %>
  
  <% if @max[label] == raw_data %>
    <strong class="strongest"><%= str %>
  <% elsif @min[label] == raw_data %>
    <strong class="weakest"><%= str %>
  <% else %>
    <%= str %>
  <% end %>
</td>