<% provide(:title, "#{@hero.name}の編集") %>
<% provide(:button_text, "データ更新") %>

<div id="hero-edit">
  <div class="add-image-title">
    <%= image_tag @hero.icon_url, class: 'icon' unless @hero.icon_url.empty? %>
    <h1><%= yield(:title) %></h1>
  </div>
  <%= render 'form' %>
</div>