<main>
  <div class="mb-5 pt-5">
    <h3>おしらせ</h3>
    <ul id="news">
      <li>ヘッダ部分のHome以外のリンクはまだ使えません。</li>
      <li>SSR個別ページを作りました。SSR名のリンクからジャンプ出来ます。</li>
    </ul>
  </div>
  
  <section>
    <h3>Menu</h3>
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="nav-item"><a href="#hero" class="nav-link active" data-toggle="tab">勇者別</a></li>
        <li class="nav-item"><a href="#color" class="nav-link" data-toggle="tab">属性別</a></li>
        <li class="nav-item"><a href="#type" class="nav-link" data-toggle="tab">タイプ別</a></li>
      </ul>
      
      <div class="tab-content py-4">
        <div id="hero" class="tab-pane active">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <% @heros.each do |hero| %>
                <% if hero.ssrs.count > 0 %>
                  <li class="breadcrumb-item"><%= link_to hero.name, hero_path(hero) %></li>
                <% end %>
              <% end %>
              <li class="breadcrumb-item"><%= link_to "全勇者", ssrs_path %></li>
            </ol>
          </nav>
        </div>
        
        <div id="color" class="tab-pane">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <% @colors.each do |color| %>
                <li class="breadcrumb-item"><%= link_to color.mean, color_path(color) %></li>
              <% end %>
            </ol>
          </nav>
        </div>
        
        <div id="type" class="tab-pane">
            <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <% @hero_types.each do |hero_type| %>
                <% if hero_type.heros.count > 0 %>
                  <li class="breadcrumb-item"><%= link_to hero_type.name, hero_type_path(hero_type) %></li>
                <% end %>
              <% end %>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
</main>