<% unless @ssr.hero.nil? %>
  <%# 本来設定されてない勇者名は選択出来ないがポカよけ %>
  <% provide(:title, "「#{@ssr.name} #{@ssr.hero.name}」の編集") %>
<% else %>
  <% provide(:title, "「#{@ssr.name}」の編集") %>
<% end %>

<% provide(:button_text, "データ更新") %>

<div id="ssr-edit">
  <h1><%= yield(:title) %></h1>
  <%= render 'ssrs/form' %>
</div>