/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 /* 仮 */
 /* style.css */
body {
  font-family: 'Meiryo',-apple-system,'BlinkMacSystemFont',
               '.SFNSDisplay-Regular','Hiragino Kaku Gothic Pro',
               'Yu Gothic','MS PGothic','Segoe UI','Verdana',
               'Helvetica','Arial',sans-serif;
  margin: 0;
  font-size: 100%;
  text-align: center;
}

h1 {
  margin: 0px;
}

/*main h1 {*/
/*  margin-top: 20px;*/
/*}*/

h2 {
  margin: 0px;
}

/* common */
/*a:link, a:visited {*/
/*  color: #0000ff;*/
/*}*/

#explain h2 {
  font-size: 12px;
}

table {
  /*border-collapse: collapse;*/
  /*後で直す margin-left: 50px; */
  /*margin: 0 auto 0;*/
}

/*th {*/
/*  background-color: whitesmoke;*/
/*}*/

td, th {
/*  border: 1px solid lightgray;*/
  padding: 10px;
  white-space: nowrap;
}

td.heroname {
  white-space: normal;
}

strong.strongest {
  color: red;
}

strong.weakest {
  color: blue;
}

/* 属性の色(空白スペースの背景色として使用 */
.attr_red {
  background-color: red;
}
.attr_blue {
  background-color: blue;
}
.attr_green {
  background-color: green;
}
.attr_yellow {
  background-color: yellow;
}
.attr_purple {
  background-color: purple;
}
.hero_color a {
  display: block;
  text-decoration: none;
  height: 44px;
}

td.hero_color  {
  margin: 0;
  padding: 0;
}

.average {
  border-top: double 1px #000;
}

.UR {
  background-color: gold;
}

.SSR {

}

.MR {
  background-color: pink;
}

.SR {
  background-color: tan;
}

.R {
  background-color: skyblue;
}

ul {
  display: inline-block;
  margin: 0 0 10px;
}

ul li {
  text-align: left;
  font-size: 14px;
}

.debug_dump {
  text-align: left;
  width: 100%;
  margin-top: 45px;
  padding: 15px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
  background-color: #eaeaea;
}

label {
  text-align: left;
  width: 100%;
}

header {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  background-color: white;
}

/* news */
#news {
  margin-top: 20px;
}

#news li {
  color: gray;
  font-size: 0.825rem;
}

/* ssr show */
#ssr-show h1 {
  margin-top: 20px;
}

.ssr-detail {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.ssr-image {
  width: 60%;
  /*border: 1px solid black;*/
}

.ssr-image img {
  width: 100%;
}

.ssr-no-image {
  font-weight: normal;
  display: block;
  width: 95%;
  height: 95%;
  padding: 25% 25%;
  border: 1px solid black;
  
}

.ssr-status {
  width: 35%;
  /*border: 1px solid blue;*/
  text-align: left;
  padding: 0 10px;
}

.ssr-edit-btn {
  margin-top: 25px;
}

/* ssr edit */
#ssr-edit h1 {
  margin-top: 20px;
}

.ssr-form,
.hero-form {
  width: 70%;
  margin: 20px auto;
}

/* user form */
.user-form {
  width: 70%;
  margin: 20px auto;  
}

/* べた書き。scss使うになったら元に戻す(RailsTutorialの形に戻す) */
#error_explanation {
  color: red;
}

#error_explanation ul {
  color: red;
  margin: 0 0 30px 0;
}


.field_with_errors .form-control {
  border-color: #a94442;
  color: #a94442;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* べた書きここまで */

/* hero edit編集 */
.edit-btn {
  margin-top: 20px;
}

#hero-edit {
  margin-top: 20px;
}

.add-image-title {
  height: 50px;
  margin-bottom: 20px;
}

.add-image-title h1 {
  line-height: 50px;
  display: inline-block;
}

#heros_table td {
  margin: 0;
  padding: 0;
  height: 50px;
  line-height: 50px;
}

.add-image-title td {
  line-height: 50px;
  text-align: left;
  display: inline-block;
}

.add-image-title a {
  line-height: 50px;
  display: inline-block;
}

/*#hero-edit h1 {*/
/*  line-height: 50px;*/
/*  display: inline-block;*/
/*}*/

.backlink a {
  width: 50%;
}

.btnlink a {
  display: inline-block;
  width: 100px;
  margin-right: 20px;
}


.icon {
  width:  50px;
  height: 50px;
  vertical-align: bottom;
}

.toplink {
  display: inline-block;
  line-height: 50px;
  margin: 5px 0;
}

input.show_checkbox {
  line-height: 27px;
}


/* ヘッダ以降の位置 */
#after_header {
  position: relative;
  top: 57px;
  margin-top: 20px;
}


.longname {
  font-size: 13px;
}


/* midium screen */
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
  td, th {
    padding: 0px;
  }
  
  main h1,
  #ssr-show h1,
  #ssr-edit h1 {
    font-size: 1.125rem;
  }
  
  .ssr-detail {
    flex-direction: column;
    margin-top: 30px;
  }
  .ssr-image,
  .ssr-status {
    margin: 10px auto;
    width: 100%;
  }
  
  .backlink a {
    width: 100%;
  }
  .btnlink a {
    display: block;
    width: 100%;
    margin: 20px 0 0 0;
  }
  
  /* ssr edit */
  .ssr-form {
    width: 100%;
  }
}
