/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 /* 仮 */
 /* style.css */
body {
  font-family: 'Meiryo',-apple-system,'BlinkMacSystemFont',
               '.SFNSDisplay-Regular','Hiragino Kaku Gothic Pro',
               'Yu Gothic','MS PGothic','Segoe UI','Verdana',
               'Helvetica','Arial',sans-serif;
  margin: 0;
  font-size: 14px;
  text-align: center;
}

h1 {
  margin: 0px;
}

h2 {
  margin: 0px;
}

/* common */
/*a:link, a:visited {*/
/*  color: #0000ff;*/
/*}*/

#explain h2 {
  font-size: 12px;
}

table {
  /*border-collapse: collapse;*/
  /*後で直す margin-left: 50px; */
  /*margin: 0 auto 0;*/
}

/*th {*/
/*  background-color: whitesmoke;*/
/*}*/

td, th {
/*  border: 1px solid lightgray;*/
/*  padding: 5px;*/
  white-space: nowrap;
}

td.heroname {
  white-space: normal;
}

strong.strongest {
  color: red;
}

strong.weakest {
  color: blue;
}

/* 属性の色(空白スペースの背景色として使用 */
.attr_red {
  background-color: red;
}
.attr_blue {
  background-color: blue;
}
.attr_green {
  background-color: green;
}
.attr_yellow {
  background-color: yellow;
}
.attr_purple {
  background-color: purple;
}
.hero_color a {
  display: block;
  text-decoration: none;
  height: 44px;
}

td.hero_color  {
  margin: 0;
  padding: 0;
}

.average {
  border-top: double 1px #000;
}

.UR {
  background-color: gold;
}

.SSR {

}

.MR {
  background-color: pink;
}

.SR {
  background-color: tan;
}

.R {
  background-color: skyblue;
}

ul {
  display: inline-block;
  margin: 0 0 10px;
}

ul li {
  text-align: left;
  font-size: 14px;
}

.debug_dump {
  text-align: left;
  width: 100%;
  margin-top: 45px;
  padding: 15px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
  background-color: #eaeaea;
}

label {
  text-align: left;
  width: 100%;
}

header {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  background-color: white;
}

/* ヘッダ以降の位置 */
#after_header {
  position: relative;
  top: 57px;
}

.longname {
  font-size: 13px;
}


/* midium screen */
@media (min-width: 600px) {
  body {
    font-size: 16px;
  }
  td, th {
    padding: 10px;
  }
}
/* large screen */
@media (min-width: 800px) {

}

